.sblue{
  background-color: skyblue;
  color: navy;
}
.pink{
  background-color: hotpink;
  color: deeppink;
}
.male{
  background-color: skyblue;
  color: navy;
}
.fem{
  background-color: pink;
  color: deeppink;
}
